<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>IT IS ART</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

<style>

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    h1{color: #ff9933}

</style>

  </head>
  <body>

<img src="{{url_for('static', filename='pika.png')}}" alt="lol" width="600" class="center"/>

<h1 style="text-align:center;"> u coder! ur text is programmy! </h1>

<a class="center" href="model">Classify Another!</a>

  </body>
</html>
